html
    head
        title My First Pug App
    body
        center 
            h1  Product Page...
            img(src=`${itemDetails.image}`, width="200px", height="200px")
            p=itemDetails.description 
            h5=itemDetails.price 

 